<section id="main-container">
  <header>
    <h1>{{title}}</h1>
    <a (click)="logout()" *ngIf="validated">
      <h4>Logout</h4>
    </a>
  </header>

  <!-- SHOW WHEN AUTHORIZED -->
  <app-tasks *ngIf="validated" [ngClass]="validated ? 'show' : 'hide' "></app-tasks>

  <!-- SHOW THIS WHEN USER IS NOT AUTHORISED -->
  <div id="not-authorized" *ngIf="!validated">
    <article>
      <h2>Need authorization!</h2>
      <a href="{{GoogleAuth}}" (click)="getAuth()">Google Authorization</a>
    </article>
  </div>
</section>
